[submodule "jhy-jsoup-b42fe0d5dfd882c5f544704b3dbe05c4301fe671"]
	path = repos/jhy/jsoup/b42fe0d5dfd882c5f544704b3dbe05c4301fe671
	url = https://github.com/jhy/jsoup.git
[submodule "JSQLParser-JSqlParser-e47132ae5103adb91c760cee599806a181a11c89"]
	path = repos/JSQLParser/JSqlParser/e47132ae5103adb91c760cee599806a181a11c89
	url = https://github.com/JSQLParser/JSqlParser.git
[submodule "apache-attic-mrunit-f43424e873f9803ce32abf69a6e67330daceb8aa"]
	path = repos/apache/attic-mrunit/f43424e873f9803ce32abf69a6e67330daceb8aa
	url = https://github.com/apache/attic-mrunit.git
[submodule "FasterXML-jackson-datatype-jsr310-5d9b39f09a8e587980f21535dbcb47f883b96e3a"]
	path = repos/FasterXML/jackson-datatype-jsr310/5d9b39f09a8e587980f21535dbcb47f883b96e3a
	url = https://github.com/FasterXML/jackson-datatype-jsr310.git
[submodule "jboss-javassist-javassist-7ff52ac61b307d6a785ae458d06bdf52335ae79c"]
	path = repos/jboss-javassist/javassist/7ff52ac61b307d6a785ae458d06bdf52335ae79c
	url = https://github.com/jboss-javassist/javassist.git
[submodule "jqno-equalsverifier-e8c027d7827bbaecbe2a8352284955c794fefc2a"]
	path = repos/jqno/equalsverifier/e8c027d7827bbaecbe2a8352284955c794fefc2a
	url = https://github.com/jqno/equalsverifier.git
